.container {
    position: relative;
    display: block;
    width: 100%;
    flex-grow: 1;
    background: rgb(255, 255, 255);
}

.main-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.main-intro-text {
    font: 700 32px / 44px "Noto Sans KR", sans-serif;
    color: rgb(13, 13, 13);
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.main-intro-sub-text {
    font: 500 16px / 24px "Noto Sans KR", sans-serif;
    color: rgb(109, 109, 109);
    padding: 0px;
    margin: 20px 0px 12px 0px;
}


.main-button-box {
    display: flex;
    margin-top: 26px;
    gap: 12px;
}

.main-button {
    border: none;
    font: 500 14px / 22px "Noto Sans KR", sans-serif;
    padding: 11px 24px;
}

.now-start {
    background-color: rgb(248, 100, 83);
    color: rgb(255, 255, 255);
}

.guide {
    border: 1px solid rgb(228, 228, 228);
    background-color: rgb(255, 255, 255);
    color: rgb(61, 61, 61);
}

.swiper-container {
    padding: 80px 0;
}

.card-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.card-box.active{
    transform: translateY(-5%);
}


.card-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 240px;
    height: 343px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.08) 0 4px 20px;
    transform: translateY(0);
    transition: transform 0.5s ease-in-out;

    cursor: pointer;
}
.card-img {


    width: 240px;
    height: 152px;
    overflow: hidden; /* 이미지가 부모 요소를 넘지 않도록 설정 */

    border-radius: 12px 12px 0 0 ;
}
.card-img img {
    width: 240px;
    max-width: 100%; /* 부모 요소의 너비를 초과하지 않도록 설정 */
    height: auto; /* 비율 유지하면서 높이 자동 조절 */
}

.card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
}
.card-tag {
    border-radius: 4px;
    margin: 20px 0px 0px;
    padding: 0px 6px;
    font: 700 10px / 18px "Noto Sans KR", sans-serif;
    color: rgb(109, 109, 109);
    background-color: rgb(240, 240, 240);
}

.card-title {
    width: 100%;
    margin: 6px 0px 0px;
    padding: 0px;
    font: 700 14px / 22px "Noto Sans KR", sans-serif;
    color: rgb(0, 0, 0);
    white-space: normal; /* 공백 문자가 그대로 유지되며 자동 줄바꿈 */
}

.card-text {
    width: 100%;
    margin: 0px;
    padding: 0px;
    font: 400 10px / 18px "Noto Sans KR", sans-serif;
    color: rgb(61, 61, 61);
    white-space: normal; /* 공백 문자가 그대로 유지되며 자동 줄바꿈 */

}

.card-completion {
    margin: 8px 0px 0px;
    padding: 0px;
    font: 700 16px / 24px "Noto Sans KR", sans-serif;
    color: rgb(248, 100, 83);
    -webkit-box-pack: end;
}